h1 { 
	color: #996600; 
	font:Nasalization
	text-transform: uppercase; 
}


h4 , p { 
	color: brown;
	font-weight:normal; 
	letter-spacing: 0.5mm; 
	margin-bottom: 0.5mm; 
	}

a {
	
    border: 1px solid black;
    outline-style: double;
    outline-color: black;
	height:190px;
	text-color:black;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 



#home
{
height:1150px;
width:1340px;
background-color:#b1bfb1;
}






div.content
{
border-style:outset;
top:30px;
left:120px;
position:absolute;
background-color:white;
height:1100px;
width:1100px;
right:60px;
overflow-y:auto;
}



div3.content
{
border-style:outset;
top:0px;
left:0px;
position:absolute;
background-color:#B6B6B4;
height:200px;
width:1093px;

}









